.post-card {
	display:flex;
	flex-direction:row;
	align-items: stretch;
	justify-content: flex-start;
	// box-shadow: none;
	// border:1px solid $grey-lighter;
	border-bottom:.5rem solid $primary;
	margin-bottom: 2rem;

	.card-image {
		border-top-left-radius: 0.25em;
		background-color:$red;
		width: 200px;
		
		.image {
			img {
				object-fit: cover;
				border-radius: 0px;
				border-top-right-radius: 0px;
			}
		}
	}

	&:hover {
		.title {
			color:$red;
		}
	}

	.card-content {
		flex:1;
		// border-left:$fat-border;
		// border-right:$fat-border;
		border: none;
		border-top-left-radius: 0.25rem;
	}
}
